<h1>Here is your Calculator</h1>

<div id="calc-box">
    <div id="calc-table">
        <tBody>
            <tr>
                <td>
                    <br>
                </td>
            </tr>
            <tr>
                <td>
                    <div id="screen">
                        {{inputValue}}
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <br>
                </td>
            </tr>
            <table id="keyWrapper">
                <tr>
                    <td>
                        <div class="button clear">
                            <p>Clear</p>
                        </div>
                        <div class="button">
                            <p>Redo</p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="button"><p>7</p></div>
                        <div class="button"><p>8</p></div>
                        <div class="button"><p>9</p></div>
                        <div class="button"><p>/</p></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="button"><p>4</p></div>
                        <div class="button"><p>5</p></div>
                        <div class="button"><p>6</p></div>
                        <div class="button"><p>*</p></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="button"><p>1</p></div>
                        <div class="button"><p>2</p></div>
                        <div class="button"><p>3</p></div>
                        <div class="button"><p>-</p></div>
                    </td>
                </tr>
                <tr>
                    <td id="lastRow">
                        <div class="button">
                            <p>0</p>
                        </div>
                        <div class="button">
                            <p>=</p>
                        </div>
                        <div class="button">
                            <p>+</p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><br></td>
                </tr>
            </table>
        </tBody>
    </div>
</div>